h2{
  text-align: center;
  }

.chicken{
  height: 260px;
  border: 2px solid;
  background-color: rgb(202, 202, 202);
  padding: 5px;
  margin-bottom: 25px;
}

.chinese{
  height: 260px;
  border: 2px solid;
  background-color: rgb(202, 202, 202);
  padding: 5px;
  margin-bottom: 25px;
}
.sushi{
  height: 260px;
  border: 2px solid;
  background-color: rgb(202, 202, 202);
  padding: 5px;

}